<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
		<property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;databaseName=training</property>
		<property name="hibernate.connection.username">sa</property>
		<property name="hibernate.connection.password">123456</property>
		<property name="hibernate.dialect">org.hibernate.dialect.SQLServer2008Dialect</property>
		<property name="connection.pool_size">3</property>

		<!-- Drop the existing tables and create new one -->
		<property name="hibernate.hbm2ddl.auto">create</property>

		<!-- <property name="hibernate.hbm2ddl.auto">update</property> -->

		<!-- Echo all executed SQL to stdout -->
		<!-- <property name="show_sql">true</property> -->



		<mapping class="entities.Candidate" />
		<mapping class="entities.EntryTest" />
		<mapping class="entities.Interview" />
	</session-factory>
</hibernate-configuration>
